
form {
    display: flex;
    flex-direction: column;
}

[mat-dialog-title] {
    text-align: center;
    font-family: bayon;
    font-weight: 400;
    font-size: 3rem;
}

[mat-dialog-content] {
    padding-top: 1%;
}

h1 {
    padding-top: 4%;
    padding-bottom: 4%;
}

#role-radio-group {
    display: flex
}

#role-radio-group > mat-radio-button {
    margin-left: auto;
    margin-right: auto;
}

#sign-up {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 4%;
    border-radius: 9999px;
    width: 70%;
}