
form {
    display: flex;
    flex-direction: column;
}

[mat-dialog-content] {
    padding-top: 1%;
}

h1 {
    padding-top: 4%;
    padding-bottom: 4%;
}

#role-radio-group {
    display: flex
}

#role-radio-group > mat-radio-button {
    margin-left: auto;
    margin-right: auto;
}

#sign-up {
    margin-bottom: 4%;
    width: 70%;
}