app-container {
    flex-direction: column;
}

.notification {
    display: flex;
    flex-direction: row;
    margin: 0.5em 2em 0;
    background-color: #2d2d2d;
    border-radius: 12px;
    padding: 1em;
}

.notification:first-child {
    margin-top: 1.2em;
}

.notification__icon {
    width: 2.9em;
    height: 2.9em;
    margin-right: 1em;
    align-self: center;
}

.notification__icon mat-icon {
    width: 100%;
    height: 100%;
    font-size: 2.9em;
    text-align: center;
    vertical-align: middle;
}

.notification__title {
    font-family: rubik-regular;
    font-size: 1.2em;
    margin-bottom: 0.5em;
}

.notification__time {
    font-family: rubik-regular;
    font-size: 0.8em;
}