#container {
  display: flex;
  position: relative;
  min-width: 92vw;
  min-height: 85vh;
  max-width: 90%;
  border: 2px solid #fff;
  margin-top: 7em;
  margin-left: 7em;
  margin-right: 6em;
  margin-bottom: 0.5em;
  box-shadow: 0 0px 20px #fff, 0 0 9px #fff;
  border-radius: 15px;
  flex-wrap: wrap;
  flex-direction: inherit;
  gap: inherit;
}

#padder {
  display: flex;
  flex-direction: inherit;
  gap: inherit;
}
