#container {
  height: 18em;
  width: 50em;
}

.grid-container {
  display: grid;
  grid-template-rows: repeat(4, auto);
  grid-template-columns: repeat(2, 1fr);
  gap: 0em 3em;
  padding: 0em 1em;
}

.grid-container > :nth-child(5) {
  grid-column: span 2;
}

.grid-item {
  text-align: center;
}

.medium-field {
  width: 100%;
}

.big-field {
  width: 100%;
}

.datepicker-icon {
  color: #00B3B3;
}

#container {
  height: 3em;
  width: 50em;
  padding: 1em 2em;
  display: flex;
  justify-content: space-between;
}

.button {
  border-radius: 100px;
  height: 4em;
  width: 13em;
  font-family: rubik-bold;
  text-transform: uppercase;
}

.save {
  margin-left: 5em;
}

.delete {
  margin-right: 5em;
}

:host ::ng-deep .delete {
  border-color: #fff;
  border-width: 3px;
}

:host ::ng-deep .cancel {
  border-color: #fff;
  border-width: 3px;
}
