<br>
<form class="example-form" [formGroup]="infoForm">
  <div class="grid-container">
    <div class="grid-item">
      <mat-form-field class="medium-field" appearance="outline" color="accent">
        <mat-label>First Name</mat-label>
        <input matInput type="text" name="firstName" formControlName="firstName" value="{{profile?.name}}"/>
      </mat-form-field>
    </div>

    <div class="grid-item">
      <mat-form-field class="medium-field" appearance="outline" color="accent">
        <mat-label>Last Name</mat-label>
        <input matInput type="text" name="lastName" formControlName="lastName" value="{{ profile?.surname }}" />
      </mat-form-field>
    </div>


    <div class="grid-item">
      <mat-form-field class="medium-field" appearance="outline" color="accent">
        <mat-label>Phone</mat-label>
        <input matInput type="text" name="phoneNumber" formControlName="phoneNumber" value="{{ profile?.phoneNumber }}">
      </mat-form-field>
    </div>


    <div class="grid-item">
      <mat-form-field class="medium-field" appearance="outline" color="accent">
        <mat-label>Address</mat-label>
        <input matInput type="text" name="address"  formControlName="address"  value="{{ profile?.address }}"/>
      </mat-form-field>
    </div>
    <div class="grid-item">
      <mat-form-field class="big-field" appearance="outline" color="accent">
        <mat-label>Email</mat-label>
        <input matInput type="text" name="email" formControlName="email"  value="{{ profile?.email }}"/>
      </mat-form-field>
    </div>
  </div>
</form>
