.header-text {
  position: absolute;
  margin-right: 50px;
  margin-top: 1em;
  right: 0;
  top: 0;
}

.main-text {
  text-align: center;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -38%);
}

p {
  font-family: bayon;
  color: #f0edee;
  font-size: 5em;
}

p span {
  color: #00B3B3;
}

.hero-image {
  min-width: 100vw;
  min-height: 85vh;
  background-image: url(../../../assets/earth3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
