form {
    display: flex;
    flex-direction: column;
}

[mat-dialog-content] {
    padding-top: 1%;
}

h1 {
    padding-top: 4%;
    padding-bottom: 4%;
}

p {
    margin: 0;
}

#sign-in {
    margin-bottom: 4%;
    width: 60%;
    height: 3.5em;
}
