<h1 mat-dialog-title>Log in</h1>
<div mat-dialog-content>
  <form [formGroup]="loginForm">
    <mat-form-field>
      <mat-label>Email</mat-label>
      <input matInput type="text" name="email" formControlName="email" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Password</mat-label>
      <input matInput type="password" name="password" formControlName="password" />
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="signIn()">Sign in</button>
</div>
