#container {
  text-align: center;
  display:flex;
  flex-direction: column;
}

table {
    background-color: transparent;
}

p {
  font-family: rubik-bold;
  font-size: 1.4em;
  text-align: center;
}
