<form [formGroup]="passwordForm" (ngSubmit)="updatePassword()">
  <div class="grid-container">
    <div class="grid-item">
      <mat-form-field class="medium-field" appearance="outline" color="accent">
        <mat-label>Old Password</mat-label>
        <input matInput type="password" formControlName="oldPassword" />
      </mat-form-field>
    </div>

    <div class="grid-item">
      <mat-form-field class="medium-field" appearance="outline" color="accent">
        <mat-label>New Password</mat-label>
        <input matInput type="password" formControlName="newPassword" />
      </mat-form-field>
    </div>

    <div class="grid-item">
      <mat-form-field class="medium-field" appearance="outline" color="accent">
        <mat-label>Confirm Password</mat-label>
        <input matInput type="password" formControlName="confirmPassword" />
        <mat-error *ngIf="passwordForm.hasError('passwordConfirmed', 'confirmPassword')">
          Passwords do not match.
        </mat-error>
      </mat-form-field>
    </div>
  </div>

  <div class="button-container">
    <button mat-flat-button color="primary" class="button save" type="button" (click)="updatePassword()">Save</button>
  </div>
</form>

