.demo-inline-calendar-card,
.big-field,
.price-type-radio{
  width: 300px;
  border-radius: 10px;
}
.price-type-radio {
  border: 1px solid white;
}

#container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 2em;
}

p {
  font-family: rubik-bold;
  font-size: 1.4em;
}


.counter-input {
  width: 280px;
  border: 2px solid white;
  border-radius: 7px;
  padding: 10px;
  background-color: transparent;
  margin-top: 2em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

p, .counter-value {
  font-family: rubik-bold;
  text-align: center;
  font-size: 1.4em;
}

span {
  color: #f0edee;
}

.material-icons {
  font-size: 24px;
  color: white;
}

.counter-logic {
  display: flex;
  align-items: center;
}


