<app-header [text]="header"></app-header>
<app-container>
  <p *ngIf="averageRating" class="mat-headline-5" style="margin-left: 1em; margin-top: 1em">Average
    Rating: {{ averageRating }}</p>

  <div class="report-button-wrapper" *ngIf="eligibleToReport">
    <button id="report-host-button" mat-stroked-button mat-button (click)="report()">
      <mat-icon>flag</mat-icon>
      <span>Report host</span>
    </button>
  </div>
  <div class="reviews">
    <app-reviews [id]="id || 0" [reportingAllowed]="reportingAllowed" *ngIf="reviews != null"
                 (reviewDeleted)="getAccount()"></app-reviews>
  </div>
</app-container>
