<app-header text="Edit Calendar"></app-header>
<app-container>
  <app-helper-menu [items]="menuItems" (selectedItemChange)="selectedMenuItemChanged($event)">
  </app-helper-menu>
  <div *ngIf="selectedMenuItem === 'Calendar'" class="selectedComponentContainer">
    <app-availability-pricing [cancellationDeadline]="cancellationDeadline" [availabilityEntries]="availabilityEntries" [autoApproveEnabled]="autoApproveEnabled" [pricingMode]="pricingMode"></app-availability-pricing>
  </div>
  <div *ngIf="selectedMenuItem === 'Price Table'" class="selectedComponentContainer">
    <app-availability-table [availabilityEntries]="availabilityEntries"></app-availability-table>
  </div>
  <app-snack-bar/>
</app-container>