<app-header [text]="header"></app-header>
<app-container *ngIf="property">
    <mat-horizontal-stepper linear="true">
        <mat-step [completed]="step1Completed">
            <ng-template matStepLabel>Some basic information about your property</ng-template>
            <app-property-type [(selectedPropertyType)]="property.type" (selectedPropertyTypeChange)="onChange()"></app-property-type>
            <app-number-of-guests *ngIf="property" [(minimum)]="property.minGuests" [(maximum)]="property.maxGuests" (isValidChange)="validNumberOfGuests=$event;onChange()"></app-number-of-guests>
            <app-location [(latitude)]="property.latitude" [(longitude)]="property.longitude" [(address)]="property.address.street" [(city)]="property.address.city" [(country)]="property.address.country"></app-location>
            <button mat-button matStepperNext>Next</button>
        </mat-step>

        <mat-step label="Let's make your property stand out">
        <ng-template matStepLabel>Let's make your property stand out</ng-template>
        <app-amenities *ngIf="property" (selectedAmenityIdsChange)="onChange()" [(selectedAmenityIds)]="property.amenityIds"></app-amenities>
            Content 2
        </mat-step>

        <mat-step label="Availability and pricing">
        <ng-template matStepLabel>Availability and pricing</ng-template>
            Content 2
        </mat-step>

        <mat-step label="Done">
            Content 2
        </mat-step>
    </mat-horizontal-stepper>
</app-container>
