<div class="notification">
    <div class="unread_indicator" *ngIf="displayReadIndicator" >
        <span *ngIf="notification.read === false" class="unread_indicator__dot"></span>
    </div>
    <div class="notification__icon">
        <mat-icon class="material-icons">{{icons.get(notification.type)}}</mat-icon>
    </div>
    <div class="notification__content">
        <div class="notification__title">{{notification.text}}</div>
        <div class="notification__time">{{notification.date | relativeTimeFilter }}</div>
    </div>
</div>
