#container {
  margin: 0 auto;
  top: 0;
}

.mat-card {
  display: flex;
  flex-direction: column;
  max-width: 20em;
  border-radius: 20px;
  border: 2px solid #f0edee;
  background-color: #2d2d2d;
  margin: 0;
  padding: 0;
  margin-right: 1em;
}

.mat-card:last-child {
  margin-right: 0;
}

.mat-card:hover {
  border: 2px solid #00838f;
}

.mat-card-header {
  font-family: rubik-regular;
  flex-shrink: 0;
}

.mat-card-subtitle {
  font-family: rubik-regular;
  color: #00838f;
}

.mat-card-footer {
  display: flex;
  justify-content: space-between;
  margin: 2em;
}

#price {
  font-size: 1.1rem;
  align-self: center;
}

.grid {
  margin-top: 1.5em;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 1em;
  justify-content: space-between;
  align-items: stretch;
}

@media (max-width: 1200px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .grid {
    grid-template-columns: 1fr;
  }
}

.mat-card img {
  object-fit: cover;
  min-width: 100%;
  min-height: 14em;
}

