#container {
  max-width: 100%;
  overflow-x: hidden; /* Hide horizontal overflow */
  margin-left: 5em;
  margin-right: 5em;
}

.grid {
  margin-top: 1.5em;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1em;
}

.card {
  height: 35em;
  width: 30em; /* Adjust the width to take the full container width */
  max-width: 40em; /* Set a max-width to prevent the card from becoming too wide */
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  border: 2px solid #f0edee;
  margin-right: 1em;
  background-color: #1d1d1d;
}

.card:hover {
  border: 2px solid #00838f;
}


.title {
  font-family: bayon;
  font-size: 2em;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin: 1em;
  font-family: rubik-regular;
}

.price {
  font-size: 2em;
}

/* Remove the 'bottom' property in the .footer class to allow flex alignment to work properly */

@media (max-width: 1200px) {
  .grid {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
}

@media (max-width: 768px) {
  .grid {
    grid-template-columns: 1fr;
  }

  .card {
    width: 100%;
    max-width: none;
  }
}

.price {
  align-self: center;
  font-size: 2em;
}

.header {
  padding-left: 1em;
  font-size: 1.3em;
}

.location {
  color:  #00838f;
}

@media (max-width: 1200px) {
  .grid {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
}

@media (max-width: 768px) {
  .grid {
    grid-template-columns: 1fr;
  }

  .card {
    width: 100%; /* Adjust the width for smaller screens */
    max-width: none; /* Remove max-width for smaller screens */
  }
}

