<div id="container">
  <app-search></app-search>
  <div class="grid">
    <mat-card class="card" *ngFor="let property of properties" routerLink="/properties/{{property.id}}">
      <img mat-card-image class="image" [src]="property.photoUrls.at(0) ?? placeholderImage" alt="Image of a property." />
      <mat-card-header class="header">
        <mat-card-title class="title">{{property.name}}</mat-card-title>
        <mat-card-subtitle class="location">{{property.location.city}}, {{property.location.country}}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>{{property.description}}</p>
      </mat-card-content>
      <mat-card-footer class="footer">
        <span class="price">${{property.pricePerNight}} Night</span>
      </mat-card-footer>
    </mat-card>
  </div>
</div>
