mat-card{
  display:flex;
  flex-direction: column;
  max-width: 400px;
  border-radius: 20px;
  border: 2px solid #f0edee;
  background-color: #2d2d2d;
}

mat-card:hover{
  border: 2px solid #00838f;
}


mat-card-header {
  font-family: rubik-regular;
  flex-shrink: 0;
}

mat-card-subtitle {
  font-family: rubik-regular;
  color: #00838f;

}

mat-card-content{
  flex-grow: 1;
}

mat-card-footer {
  display: flex;
  justify-content: space-between;
  margin: 2em 1em 1em;
}

#price {
  font-size: 1.1rem;
  align-self: center;
}

app-container {
  margin-top: 2em;
  padding: 2em;
  flex-direction: column;
}

.grid {
  margin-top: 1.5em;
}

mat-card img{
  object-fit: cover; /*this makes the image in src fit to the size specified below*/
  width: 100%; /* Here you can use wherever you want to specify the width and also the height of the <img>*/
  height: 200px;
}
