<app-header [text]="'Unapproved Reviews'"></app-header>
<app-container>
  <div class="grid">
    <mat-card class="card" *ngFor="let review of reviews">
      <mat-card-header class="header">
        <mat-card-title class="title">Rating: {{ review.rating }}</mat-card-title>
        <mat-card-subtitle class="location">Description: {{ review.description }}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>Author: {{ review.author }}</p>
      </mat-card-content>
      <mat-card-footer class="footer">
      </mat-card-footer>
    </mat-card>
  </div>
</app-container>

