form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#reason-field {
    margin-top: 1em;
    width: 80%;
    height: 5em;
}

h1 {
    padding-top: 4%;
    padding-bottom: 4%;
}