<app-header [text]="'your reservations'"></app-header>
<app-container>
  <app-reservation-search
    (reservationsEmitter)="onReservationsEmitted($event)"
    style="width: 100%; padding-top: 2em"
    fxLayout="row" fxLayoutAlign="center start" fxLayoutGap="1em"></app-reservation-search>
  <div class="grid">
    <mat-card class="card" *ngFor="let reservation of reservations">
      <img mat-card-image class="image" [src]="images.get(reservation.property.id) ?? placeholderImage"
           alt="Image of a property."/>
      <mat-card-header class="header">
        <div class="reviewer-and-time">
          <div class="reviewer-name-and-time">
            <p class="review-time"></p>
          </div>
        </div>
        <mat-card-subtitle class="subtitle"></mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <h2 routerLink="/properties/{{ reservation.property.id }}">{{ reservation.property.name }}</h2>
        <p class="date-range">
          <mat-icon>event</mat-icon>
          {{ formatDate(reservation.startDate) }} - {{ formatDate(reservation.endDate) }}
        </p>
        <p class="date-range">
          <mat-icon>group</mat-icon>
          {{ reservation.numberOfGuests }}
        </p>
        <p class="date-range">
          <mat-icon>pending</mat-icon>
          {{ reservation.status }}
        </p>

        <p class="price">{{ reservation.price }}$</p>
      </mat-card-content>
      <mat-card-footer class="footer">
        <div class="button-container">
          <button mat-flat-button class="approve-button button" color="primary"
                  (click)="cancelReservation(reservation)">Cancel
          </button>
          <button *ngIf="reservation.status != ReservationStatus.ACCEPTED" mat-stroked-button class="approve-button button" color="warn"
                  (click)="deleteReservation(reservation.id)">Delete
          </button>
        </div>
      </mat-card-footer>
    </mat-card>
  </div>
</app-container>

