div {
  display: flex;
  justify-content: left;
  padding-left: 9em;
  padding-top: 4em;
  position: absolute;
  top: 0;
}

h1 {
  font-family: bayon;
  letter-spacing: 1px;
  font-weight: regular;
  color: #fff;
  margin: 0;
  font-size: 4em;
}
