<div class="icon-bar">

  <div *ngIf="role == 'unregistered'">
    <a [ngClass]="{'active': router.url == '/home' }" routerLink="home"><i class="cil-home"></i></a>
    <a [ngClass]="{'active': router.url == '/search' }" routerLink="search" href="#"><i class="cil-search"></i></a>
    <a [ngClass]="{'active': router.url == '/notifications' }" routerLink="notifications" href="#"><i class="cil-bell"></i></a>
    <a [ngClass]="{'active': router.url == '/favorites' }" routerLink="favorites" href="#"><i class="cil-heart"></i></a>
    <a href="#" (click)="$event.preventDefault();openLoginDialog()"><i class="at-account"></i></a>
  </div>

  <div *ngIf="role == 'GUEST'">
    <a [ngClass]="{'active': router.url == '/home' }" routerLink="home"><i class="cil-home"></i></a>
    <a [ngClass]="{'active': router.url == '/search' }" routerLink="search" href="#"><i class="cil-search"></i></a>
    <a  [ngClass]="{'active': router.url == '/notifications' }" routerLink="notifications" href="#"><i [matBadge]="unreadNotificationCount" [matBadgeHidden]="unreadNotificationCount == 0" class="cil-bell"></i></a>
    <a [ngClass]="{'active': router.url == '/favorites' }" routerLink="favorites" href="#"><i class="cil-heart"></i></a>
    <a [ngClass]="{'active': router.url == '/profile' }" routerLink="profile"><i class="at-account"></i></a>
    <a [ngClass]="{'active': router.url == '/accepted-reservations' }" routerLink="accepted-reservations"><i class="cil-check"></i></a>
  </div>

  <div *ngIf="role == 'HOST'">
    <a [ngClass]="{'active': router.url == '/home'}" routerLink="home"><i class="cil-home"></i></a>
    <a [ngClass]="{'active': router.url == '/new-property' }" routerLink="new-property" href="#"><i class="cil-plus"></i></a>
    <a [ngClass]="{'active': router.url == '/my-properties' }" routerLink="my-properties" href="#"><i class="cil-folder"></i></a>
    <a [ngClass]="{'active': router.url == '/list-properties' }" routerLink="list-properties" href="#"><i class="cil-list-filter"></i></a>
    <a [ngClass]="{'active': router.url == '/incoming-reservations' }" routerLink="incoming-reservations" href="#"><i class="cil-check"></i></a>
    <a [ngClass]="{'active': router.url == '/notifications' }" routerLink="notifications" href="#"><i [matBadge]="unreadNotificationCount" [matBadgeHidden]="unreadNotificationCount == 0" class="cil-bell"></i></a>
    <a [ngClass]="{'active': router.url == '/favorites' }" routerLink="favorites" href="#"><i class="cil-heart"></i></a>
    <a [ngClass]="{'active': router.url == '/reports' }" routerLink="reports" href="#"><i class="cil-fax"></i></a>
    <a [ngClass]="{'active': router.url == '/profile' }" routerLink="profile" ><i class="at-account"></i></a>
  </div>

  <div *ngIf="role == 'ADMIN'">
    <a [ngClass]="{'active': router.url == '/home' }" routerLink="home"><i class="cil-home"></i></a>
    <a [ngClass]="{'active': router.url == '/approve-changes' }" routerLink="approve-changes" href="#"><i class="cil-book"></i></a>
    <a [ngClass]="{'active': router.url == '/comments-and-grades' }" routerLink="comments-and-grades" href="#"><i class="cil-comment-square"></i></a>
    <a [ngClass]="{'active': router.url == '/unapproved-reviews' }" routerLink="unapproved-reviews" href="#"><i class="cil-check"></i></a>
    <a [ngClass]="{'active': router.url == '/list-properties' }" routerLink="list-properties" href="#"><i class="cil-list-filter"></i></a>
    <a [ngClass]="{'active': router.url == '/accounts' }" routerLink="accounts" href="#"><i class="cil-globe-alt"></i></a>
    <a [ngClass]="{'active': router.url == '/profile' }" routerLink="profile" ><i class="at-account"></i></a>
  </div>

  <a [ngClass]="{'active': router.url == '/logout' }" routerLink="home" class="logout-link" (click)="onLogoutClick()"><i class="cil-account-logout"></i></a>
</div>

