inline-range-calendar {
    display: block;
    width: 50%;
}

.material-icons {
    font-size: 24px;
    color: white;
}

#container > * {
    width: 50%;
}

#container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.counter-input {
    width: 280px;
    border: 2px solid white;
    border-radius: 7px;
    padding: 10px;
    background-color: transparent;
    margin-top: 2em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
  
.counter-logic {
    display: flex;
    align-items: center;
  }