#container {
  text-align: center;
  display:flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.grid-container, #description-textarea, .grid-item, mat-form-field {
  height: 100%;
  width: 100%;
}

p {
  font-family: rubik-bold;
  text-align: center;
  font-size: 1.4em;
}

.big-field {
  text-align: center;
  margin: 0 auto;
  height: 100%;
}

:host {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}