button {
    width: 30%;
}

h1 {
    font-family: bayon;
    text-align: center;
    padding-top: 4%;
    padding-bottom: 4%;
    font-size: 3rem;
}

p {
    font-size: 1.5em;
}

div[mat-dialog-content] {
    text-align: center;
    padding: 1em;
}