<app-basic-info [profile]="profile!" (profileChange)="onProfileChange($event)"></app-basic-info>
<hr>
<app-info-form [profile]="profile!" (validChange)="onValidChange($any($event))" (profileChange)="onProfileChange($event)"></app-info-form>
<hr>
<div id="container">
  <button mat-flat-button color="primary" class="button save" (click)="onSaveClick()">save</button>
  <button mat-stroked-button color="accent" class="button cancel" (click)="onCancelClick()">cancel</button>
  <button mat-stroked-button color="link" class="button delete" (click)="onDeleteClick()">delete profile</button>
</div>
