
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.
@use 'sass:map';

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

$light-focused: rgba(white, 0.12);
$dark-theme-background-palette: (
  status-bar: black,
  app-bar:    map.get(mat.$grey-palette, 900),
  background: #303030,
  hover:      rgba(white, 0.04), // TODO(kara): check style with Material Design UX
  card:       map.get(mat.$grey-palette, 800),
  dialog:     #121212,
  disabled-button: rgba(white, 0.12),
  raised-button: map.get(mat.$grey-palette, 800),
  focused-button: $light-focused,
  selected-button: map.get(mat.$grey-palette, 900),
  selected-disabled-button: map.get(mat.$grey-palette, 800),
  disabled-button-toggle: black,
  unselected-chip: map.get(mat.$grey-palette, 700),
  disabled-list-option: rgba(white, 0.12),
  tooltip: map.get(mat.$grey-palette, 700)
);

$lunark-palette: (
  50: #e0f7fa,
  100: #b2ebf2,
  200: #80deea,
  300: #4dd0e1,
  400: #26c6da,
  500: #00bcd4,
  600: #00acc1,
  700: #0097a7,
  800: #00838f,
  900: #006064,
  contrast: (
    50: rgba(black, 0.87),
    100: rgba(black, 0.87),
    200: rgba(black, 0.87),
    300: white,
    400: white,
    500: white,
    600: white,
    700: white,
    800: white,
    900: white
  )
);

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$lunark-front-primary: mat.define-palette($lunark-palette, 800);
$lunark-front-accent: mat.define-palette(mat.$grey-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$lunark-front-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$lunark-front-theme: mat.define-dark-theme((
  color: (
    primary: $lunark-front-primary,
    accent: $lunark-front-accent,
    warn: $lunark-front-warn,
  ),
  typography: mat.define-typography-config(),
  density: 0
));

$dialog-background-color: #121212;
$color: map.get($lunark-front-theme, "color");
$colorBackground: map.get($color, "background");
$colorBackground: map.set($colorBackground, "dialog", $dialog-background-color);
$colorBackground: map.set($colorBackground, "raised-button", $dialog-background-color);
$color: map.set($color, "background", $colorBackground);
$lunark-front-theme: map.set($lunark-front-theme, "color", $color);


// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($lunark-front-theme);

@include mat.typography-hierarchy($lunark-front-theme);
