/* You can add global styles to this file, and also import other style files */

@import "../node_modules/@coreui/icons/css/free.css";
@import "../node_modules/@vectopus/atlas-icons/style.css";

@font-face {
  font-family: 'bayon';
  src: url('./assets/fonts/bayon.ttf') format('truetype');
}

:root, p {
  --mdc-dialog-supporting-text-color: #f0edee;
  --mdc-dialog-subhead-color: #f0edee;
}

body {
  background-color: #1e1e1e;
  overflow: hidden;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

html, body {
  height: 100%;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

mat-dialog-container {
    box-shadow: 0px 4px 19px 9px rgba(240, 237, 238, 0.25); 
    border: 1px #F0EDEE solid;
    border-radius: 10px;
    padding: 3px;
}