@import "../node_modules/@coreui/icons/css/free.css";
@import "../node_modules/@vectopus/atlas-icons/style.css";
@import "../node_modules/material-icons/iconfont/material-icons.css";

@font-face {
  font-family: 'bayon';
  src: url('./assets/fonts/bayon.ttf') format('truetype'); }

@font-face {
  font-family: 'rubik-regular';
  src: url('./assets/fonts/rubik/Rubik-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'rubik-light';
  src: url('./assets/fonts/rubik/Rubik-Light.ttf') format('truetype');
}


@font-face {
  font-family: 'rubik-bold';
  src: url('./assets/fonts/rubik/Rubik-SemiBold.ttf') format('truetype');
}
html, body {
  height: 100%;
  width: 100%;
}

body {
  background-color: #1e1e1e;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  overflow-x: hidden;
}

.backgroundImage {
  background-image: url("../src/assets/earth3.jpg");
  background-repeat: no-repeat;
  background-position: left top;
  background-size: cover;
}

:root, p {
  --mdc-dialog-supporting-text-color: #f0edee;
  --mdc-dialog-subhead-color: #f0edee;
}


mat-dialog-container {
    box-shadow: 0px 4px 19px 9px rgba(240, 237, 238, 0.25);
    border: 1px #F0EDEE solid;
    border-radius: 10px;
    padding: 3px;
}


app-helper-menu #container {
  padding:2em;
  height: 100%;
  width: 30em;
}

app-helper-menu ul {
  list-style-type: none;
  padding: 1em;
}

app-helper-menu li {
  display: block;
  line-height: 3em;
}

app-helper-menu i {
  display: block;
  color: #f0edee;
}

app-helper-menu a {
  font-family: bayon;
  font-size: 2.5em;
  color: #f0edee;
  text-decoration: none;
}

app-helper-menu a:hover {
  cursor: pointer;
}

app-helper-menu a.active {
  color: #00B3B3;
}

app-helper-menu a.active span {
  visibility: visible;
}

app-helper-menu span {
  visibility: hidden;
}

mat-dialog-container {
  box-shadow: 0px 4px 19px 9px rgba(240, 237, 238, 0.25);
  border: 1px #F0EDEE solid;
  border-radius: 10px;
  padding: 3px;
}

.mat-mdc-dialog-container h1.mdc-dialog__title {
  text-align: center;
  font-family: bayon;
  font-weight: 400;
  font-size: 3rem;
}

[mat-dialog-actions] button {
  margin-left: auto;
  margin-right: auto;
}

button.mdc-button {
  border-radius: 9999px;
}

[color="primary"] {
  color: #00838f;
}

::-webkit-scrollbar {
    display: none;
}

.backdropBackground {
  backdrop-filter: blur(10px);
}

.mat-mdc-dialog-container {
  background-color: #1f1f1f;
}

app-container {
  margin-top: 8em;
  margin-left: 6em;
  margin-right: 4em;
  margin-bottom: 1em;
}

mat-vertical-stepper.mat-stepper-vertical, mat-horizontal-stepper.mat-stepper-horizontal {
  background-color: #1f1f1f;
}

.mat-form-field.stretch-height,
.mat-form-field.stretch-height .mat-form-field-flex,
.mat-form-field.stretch-height textarea {
  height: 100%;
}
.mat-form-field.stretch-height .mat-form-field-wrapper {
  height: calc(100% - 1.34375em);
}
.mat-form-field.stretch-height .mat-form-field-infix {
  height: calc(100% - 1.34375em - 2px);
}

.visually-hidden {
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
  position: absolute !important;
}
