/* You can add global styles to this file, and also import other style files */

@import "../node_modules/@coreui/icons/css/free.css";
@import "../node_modules/@vectopus/atlas-icons/style.css";

@font-face {
  font-family: 'bayon';
  src: url('./assets/fonts/bayon.ttf') format('truetype');
}

body {
  background-color: #1e1e1e;
  overflow: hidden;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

html, body {
  height: 100%;
}
