#container {
  text-align: center;
  display:flex;
  flex-direction: column;
}

p {
  font-family: rubik-bold;
  text-align: center;
  font-size: 1.4em;
}

.big-field {
  width: 400px;
  text-align: center;
  margin: 0 auto;
}
